@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
  @apply bg-eerie p-2 rounded-xl shadow;
}

textarea {
  @apply max-w-full resize-none w-full;
}

a.active {
  @apply font-bold text-aureolin;
}

button {
  @apply bg-aureolin font-bold px-3 py-1 rounded text-night disabled:bg-gray-700;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.code-block {
  @apply bg-black p-4 rounded-xl text-green-400;
}
